*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chat{
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 70vw;
  z-index: 1;
}



.chat__mesagges{
  height: 90vh;
  padding: 12vh 1em 3vh 1em;

  display: flex;
  flex-direction: column;

  background-color: #444;
  z-index: 1;

  overflow: scroll;
}

.chat__noMesagges{
  height: 100vh;
  width: 100%;

  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__noMesagges p {
  transform: scale(1.5);
  font-weight: 800;

  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}


.chat__noMesagges i {
  width: min-content;
  margin: auto 0.3em;
}

.chat__mesagges::-webkit-scrollbar{
  display: none;
}

.chat__input{
  height: min-content;
  width: inherit;
  background-color: #555;
  box-shadow: #222 0 0 5px;
  position: fixed;
  bottom: 0px;
  right: 0px;

  box-shadow: #00000055 0 0 50px 5px;
}

.chat__inputForm{
  height: 4.1em;
  width: 100%;
  padding-right: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.chatInputContainer{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.chatInput{
  height: 60%;
  outline: none;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 5px;
  box-shadow: #333 0 0 5px;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
}

.chatInput::placeholder{
  font-weight: 300;
  color: #aaa;
}

.chatInput:disabled:hover{
  cursor: not-allowed;
}

.chat__sendButton{
  border-radius: 10px;
  border: 0;
  width: 4em;
  height: 3em;
  font-size: 15px;
  background-color: #ee9b00;
  color: #555;
  transform: scale(1.15);
}

.chat__sendButton:hover{
  cursor: pointer;
}

.chat__sendButton:disabled{
  background-color: rgba(255, 255, 255, 0.1);
}

.chat__sendButton:disabled:hover{
  cursor:not-allowed;
}

@media (max-width: 768px){
  .channelInfoContainer{
    width: 50%;
  }

  .chat{
    width: 65vw;
    position: fixed;
  }

  .chat__header{
    width: 65vw;
  }

  .chat__mesagges{
    width: 65vw;
  }

  .chat__input{
    width: 65vw;
  }
}

@media (max-width: 425px) {
 .chat{
   width: 100vw;
   z-index: 1;
 }

 .chat__header{
  width: inherit;
 }

 .chat__mesagges{
   height: 86vh;
   width: inherit;
 }

 .chat__input{
   width: 100vw;
 }

 .headerInnerContainer{
   padding-left: 3em;
 }
}