@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  left: 0px;
  z-index: 2;

  box-shadow: #333333 0 0 10px 5px;
}

.mobileButton{
  display: none;
  position: relative;
  width: 5em;
  height: 5em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.mobileButton i {
  border-radius: 50%;
  box-shadow: #222 0 0 5px 1px;
  color: #ee9b00;
}

/* Header del SideBar */
.sidebar__header{
  background-color: #555;
  width: inherit;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__headerTitle{
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__headerTitle img {
  border-radius: 0;
  width: 60%;
}

.sidebar__channels{
  height: 75vh;
  width: inherit;
  background: #444;
}

.sidebar__channelInteractions{
  color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em 0.8em 0.8em;
  background: #555;
}

.interactions{
  border-bottom: #ee9b00 2px solid;
}

.sidebar__channelInteractions > div{
  display: flex;
  align-items: center;
}

.sidebar__channelInteractions i {
  font-size: 20px;
}

.sidebar__channelInteractions p {
  font-weight: 700;
}

.sidebar__channelInteractions:hover{
  cursor: pointer;
  color: #ee9b00;
  background-color: #4a4a4a;
}

.appInfoButton{
  transform: scale(1.1);
  text-align: center;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 2em;
  width: 2em;
}

.appInfoButton i{
  color: #333;
}



.sidebar__botton{
  width: inherit;
  height: 4.1em;

  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em;

  background-color: #555;
}

.sidebar__bottonUserInfo{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sidebar__userInfoAvatar{
  width: 2.5em;
  
  padding-right: 0.5em;
  border-right: 2px solid #ee9b00;
  display: flex;
}

.sidebar__userInfoAvatar img{
  width: 100%;
  border-radius: 50%;
}

.userName{
  color: #ddd;
  font-size: 20px;
}

.sidebar__uid{
  font-size: 14px;
  font-style: italic;
  color: #999;
}

.iconButtons{
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: space-between;
}


.createChannel:hover{
  cursor: pointer;
  color: rgb(204, 177, 89);
  transform: scale(1);
}

.signOut{
  text-align: center;
  background-color: #555;
  height: 2em;
  width: 2em;
  color: #aaa;
  padding: 0.3em;
  border: 0;
  border-radius: 50%;
  transform: scale(1.5);
  color: rgb(204, 89, 89);
}
.signOut:hover{
  cursor: pointer;
  color: #222;
  transform: scale(1.3);
}

@media (max-width: 768px){
  .sidebar{
    width: 35vw;
  }

  
  .sidebar__botton{
    height: 6em;
  }
}


@media (max-width: 425px) {
  .sidebar{
    height: 100vh;
    width: 75vw;
    position: fixed;
    left: -100%;
    
    box-shadow: none;
  }

  .sidebarOverlay{
    background-color: #0000004A;
  }

  .sidebar__channels{
    height: 85vh;
  }

  .mobileButton{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-360deg) scale(1.7);
    color: #999;
  }
 }