.canal{
  padding: 0.3em 1em;
  margin-bottom: 0.2em;
  
  color: #ee9b00;
  font-size: 18px;
  font-weight: 500;
  display: flex;

  overflow: hidden;
}

.canal:hover{
  cursor: pointer;
  background: #c2800425;
}

.canal p{
  height: fit-content;
  align-items: center;
}

.hash{
  font-size: 20px;
  font-weight: 300;
  margin-right: 0.2em;
}