.messaggeContainer{
  max-width: 75%;
  width: fit-content;
  display: flex;
  padding: 0.5em;
  gap: 0.7em;
}

.messaggeContainerActual{
  max-width: 75%;
  width: fit-content;
  display: flex;
  padding: 0.5em;
  gap: 0.7em;

  align-self: flex-end;
  flex-direction: row-reverse;
}

.pictureContainer{
  display: flex;
  align-items:flex-start;
}

img{
  border-radius: 50%;
  width: 1.5em;
}

.nombreUsuario{
  color: #ccc;
  font-weight: 600;
  text-decoration: do;
}
.textContainer{
  font-size: 14px;
  font-weight: 300;
  
  background-color: #00000027;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em;

  box-shadow: #272727 3px 3px;
}

.textContainerActual{
  font-size: 14px;
  font-weight: 300;
  
  background-color: #ffffff17;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em;

  box-shadow: #272727 3px 3px;
}

.mensaje {
  color: #ccc
}