*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.overlay{
  width: 75vw;
  height: 100vh;
  background-color: #00000077;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.modalCard{
  padding: 1em;
  margin-top: 10em;
  height: fit-content;
  min-width: 20em;

  border-radius: 10px;
  background-color: #555;
  
}

.modalCard p {
  color: #aaa;
}

.header{
  border-bottom: 2px solid #666;
  height: 2em;
  width: 100%;
  font-size: 18px;
  margin-bottom: 0.5em;
  color: #aaa;

  display: flex;
  justify-content: space-between;
}

.buttonsContainer{
  margin-top: 1em;

  display:flex;
  justify-content: space-evenly;
}

.yes{
  width: 8em;
  height: 3em;

  border: 0;
  background-color: #aaa;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 700;

  background-color: rgb(204, 89, 89);
  color: #fff;
}
.yes:hover{
  cursor: pointer;
  box-shadow: #222 0 0 5px;
}

.no{
  width: 8em;
  height: 3em;

  border: 0;
  background-color: #aaa;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 700;

  color: #333;
}
.no:hover{
  cursor: pointer;
  box-shadow: #222 0 0 5px 1px;
}

@media (max-width: 425px){
  .overlay{
    width: 100vw;

    padding-right: 1em;
    padding-left: 1em;
  }
}